body {
    font-family: Arial, sans-serif;
    background-color: #dcd6d6;
    padding: 20px;
}

header {
    background-color: #1919a0;
    color: white;
    margin-bottom: 20px;
}

form {
    background-color: rgb(96, 152, 168);
    padding: 15px;
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
}

button {
    margin-top: 15px;
    padding: 8px;
}

.error {
    color: red;
    font-size: 13px;
}

.success {
    color: green;
    margin-top: 10px;
}
